* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    ;
}

body {
    height: 100%;
}

.grid-container {
    display: inline-grid;
    column-gap: 0;
    width: 100vw;
    grid-template-columns: 80% 20%;
    height: 100%;

}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.remaining {
    flex-grow: 1;
}



/* containers */

.container-fluid {
    padding: 7% 15%;
    height: 100%;
    vertical-align: middle;
}



/*menu design */
#food-container {
    background-color: #FFADBC;
    height: 100%;
}

#food-items {
    background: #ed96c6;
    overflow: auto;
    height: calc(100vh - 86px);
}

#Donuts,
#Icecream,
#Shakes,
#Sweets,
#Cake
 {
    margin-top: 40px;
}

#category-name,
.item-menu {
    margin: 10px;
    font-size: 35px;
    color: white;
    font-family: 'Aclonica', sans-serif;
}

#cart {
    background: black;
}

.menu {
    background-color: #FFADBC;
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 0;
}

#Shakes #item-card,
#Sweets #item-card {
    background: rgb(218, 253, 188);
}

#Cake #item-card{
    background: rgb(221, 243, 243);
}

#category-name,
.item-menu {
    margin: 10px;
    font-size: 35px;
    color: white;
    font-family: 'Aclonica', sans-serif;
}

#item-card {
    width: 180px;
    min-height: 220px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    background: rgb(253, 221, 226);
    cursor: pointer;
    transition: 0.5s all step-end;
}

#item-card:hover img {
    transform: scale(3);
}

#card-top {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}

#rating {
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 15px;
}

.fa-heart-o {
    padding: 6px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.toggle-heart {
    background: orangered;
    color: white;
}



#item-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}

#item-name {
    margin: 5px 0;
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
}

#item-price {
    margin: 0;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

.food-items {
    display: none;
}

.cart-toggle {
    display: none;
}

#cart-page {
    padding-left: 20px;
    padding-top: 20px;
    height: 100%;
    background: white;
}

#cart-title {
    font-size: 35px;
    margin: 0;
    color: indianred;
}

#cart-page table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#cart-page table thead td {
    font-size: 25px;
    padding-bottom: 10px;
}

.cart-btn {
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}

#cart-page table tbody td {
    padding: 10px 0;
    font-size: 20px;
}

.increase-item{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.decrease-item{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

#cart-page table tbody img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#checkout {
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}

#checkout p {
    margin: 15px 0;
    float: left;
}

#total-price,
#total-item {
    font-size: 25px;
    color: indianred;
}

#delievery {
    font-size: 20px;
    color: limegreen;
}

#cart {
    background: white;
    padding-right: 30px;
    overflow-y: scroll;
}

.item-menu {
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    background: white;

}

.list-card {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.list-card:hover {
    background: rgb(255, 216, 222);
}

.list-card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}

.list-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list-name {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94, 43, 43);
}




/* navigation bar */

.navbar {
    /* padding:0 0 5.5rem ; */
    background-color: #863A6F;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 10px;
}

.navbar-nav {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.8rem;
    font-family: "Montserrat";
}

.navbar-title-image {
    width: 5%;
    border-radius: 100%;
    margin: 20px;
}

.nav-bar-bg {
    color: #fff;
    /* position: fixed; */
}

/* title */
#title {
    text-align: left;
}

#title .container-fluid {
    padding: 0 0 0;
}

/* sections */

.colored-section {
    background-color: #FFADBC;
    color: #fff;
    height: 100%;
}

/* carousel */

.carousel-control-prev {
    vertical-align: middle;
    color: #863A6F;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 320px; 
    border-radius: 50%;
    height: 320px;
    margin-left: 50px;
    margin-top: 20px;
    vertical-align: middle;
}

#testimonial-carousel {
    height: 100%;
}

.carousel-item container-fluid {
    margin-top: 50px;
    height: 100%;
    vertical-align: middle;
}

.carousel-text {
    float: left;
    width: 60%;
    margin-top: 50px;
}

.carousel-image{
    float: left;
    width: 40%;
}



.aboutsec{
    padding-left: 0px;
    padding-right: 50px;
}

.opening{
    padding-right: 0px;
    padding-left: 50px;
}

.submitbutton{
    cursor: pointer;
}
.submitbutton:hover{
    font-size: large;
}
/* payment section */

#payment-page {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 310px;
    background: white;
    background-color: #FFADBC;
}

#payment-title {
    font-size: 35px;
    margin-bottom: 20px;
    color: #863A6F;
}

#item-payment,
#item-count,
#delivery-charge,
#total-payment {
    font-size: 25px;
    color: rgb(158, 71, 71);
}

.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

#payment-option{
    border: 1px solid indianred;
    color: indianred;
    background-color: #FFADBC;
    border-radius: 5px;
    padding-left: 5px;
    width: 150px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.payment-toggle{
    display: none;
}

.payment-choose-title{
    font-size: 25px;
    color: rgb(158, 71, 71);
}

.cart-btn-lg {
    outline: none;
    border: none;
    width : 100px;
    height: 50px;
    background: rgb(47, 24, 28);
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin-top : 50px;
    cursor: pointer;
}