* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    ;
}

body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1000px 300px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    /* overflow: hidden; */
}

.box{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.remaining{
    flex-grow: 1;
}


/* containers */

.container-fluid {
    padding: 7% 15%;
    height: 100%;
    vertical-align: middle;
}



/*menu design */
#food-container {
    background: coral;
}


#cart {
    background: lavender;
}

.menu {
    background-color: #febdb3;
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 0;
}



/* navigation bar */

.navbar {
    /* padding:0 0 5.5rem ; */
    background-color: #ff4c68;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 10px;
}

.navbar-nav {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.8rem;
    font-family: "Montserrat";
}

.navbar-title-image {
    width: 5%;
    border-radius: 100%;
    margin: 20px;
}

/* title */
#title {
    text-align: left;
}

#title .container-fluid {
    /* padding: 3% 15% 7%; */
    padding: 0 0 0;
}

/* sections */

.nav-bar-bg {
    color: #fff;
}

.colored-section {
    background-color: #ef8172;
    color: #fff;
    height: 100%;
}

.white-section {
    background-color: #fff;
}

/* testimonial-section */

/* #testimonials {
    background-color: #ef8172;
    height: 100%;
} */

.carousel-control-prev{
    vertical-align: middle;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 60%;
    border-radius: 100%;
    margin-left: 50px;
}

#testimonial-carousel{
    height: 100%;
}



/* footer-section */

.social-icons {
    margin: 20px 10px;

}

@media (max-width :1168px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 70%;
    }
}

#footer {
    margin-left: 35%;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="form.css" />
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-auth-compat.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container" id="container">

<!-- form portion -->
<form action="index.html">
      <div class="form-container log-in-container" >
        <!-- Email  -->
        <div class="email">
          <label for="email"><p>Email</p></label>
          <input
            type="email"  
            name="email"
            id="email"
            placeholder="Write your email"
          />
        </div>
        <!-- passWord -->
        <div class="pass">
          <label for="password"><p>Password</p></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
          />
        </div>
  
        <!-- Sign Up button -->
        <br>
        <button id="submit-btn" onclick="signIn()" id="loginForm">Sign In</button>
       
        <!-- Sign In option -->
        <br>
        <span>
          <br>
        Dont have an account ?
       <a href="signup.html">Sign Up</a></span>
      </div>
    </form>

      <!-- image portion -->
      <div class="overlay-container">
        <div class="overlay">
        <div class="overlay-panel overlay-right">
        <h1> CandyLand</h1>
        <img src="imgs\homescreen.jpeg" width="400px" height="500px">
        </div>
        </div>
        </div>


    </div>



    

    <script src="index.js"></script>
  </body>
</html>
